<h3> Search results </h3>

<% @results.each do |article| %>
	<div class="article">
		<h3><%= article.title%></h3>
		<p>
			<%= link_to "read More", article_path(article.id) %>

		</p>
	</div>
<% end %>
			<%= link_to "Previous", search_path(:page=>(@pagenumber.to_i - 1)) %>
			<%= link_to "Next", search_url(:page=>(@pagenumber.to_i+1),:blah=>'blah') %>